@model IEnumerable<CosmeticMVC.ViewModels.ListProductVM>

@{
    ViewData["Title"] = "Default";
    var productCount = Model.Count();
}

<div class="filter__item">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="filter__sort">
                <span>Sort By</span>
                <form method="get">
                    <select name="sortOrder">
                        <option value="0" selected>Default</option>
                        <option value="1">Giá giảm dần</option>
                        <option value="2">Giá tăng dần</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="filter__found">
                <h6><span>@productCount</span> sản phẩm được tìm thấy</h6>
            </div>
        </div>
    </div>
</div>

