    <!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="./img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 19 Nguyễn Hữu Thọ, Phường Tân Phong, Quận 7, TP.HCM </li>
                        <li>Phone: <a href="tel:028.3775.5052">028.3775.5052</a></li>
                        <li>Email: <a href="mailto:hello@colorlib.com">hello@colorlib.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Một vài link hữu ích về chúng tôi bạn sẽ cần</h6>
                    <ul>
                        <li><a href="#">Đôi chút về chúng tôi</a></li>
                        <li><a href="#">Bảo mật mua sắm</a></li>
                        <li><a href="#">Thông tin vận chuyển</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Sơ đồ về trang web</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Chúng tôi là?</a></li>
                        <li><a href="#">Dự án</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Sự đổi mới</a></li>
                        <li><a href="#">Chứng nhận</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Tham gia bản tin cùng chúng tôi</h6>
                    <p>Nhập Email để có thể biết sớm nhất về các cửa hàng và ưu đãi của chúng tôi</p>
                    <form action="#">
                        <input type="text" placeholder="Điền Email vào đây nha">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
