@model CosmeticMVC.Data.Post

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutCustomer";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPost" class="control-label"></label>
                <input asp-for="IdPost" class="form-control" />
                <span asp-validation-for="IdPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hide" class="control-label"></label>
                <input asp-for="Hide" class="form-control" />
                <span asp-validation-for="Hide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbail" class="control-label"></label>
                <input asp-for="Thumbail" class="form-control" />
                <span asp-validation-for="Thumbail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meta" class="control-label"></label>
                <input asp-for="Meta" class="form-control" />
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datebegin" class="control-label"></label>
                <input asp-for="Datebegin" class="form-control" />
                <span asp-validation-for="Datebegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label"></label>
                <select asp-for="IdProduct" class ="form-control" asp-items="ViewBag.IdProduct"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

